html{
    background: whitesmoke;
}
body {
    font-family:Georgia, 'Times New Roman', Times, serif
    margin: 25px;
    padding: 25px
    color: black;
    border-top: 5px solid black;
    background-color: white;
}
h1 {
    font-size: 2em;
    margin: 0;
}
p {
    line-height: 1.4em;
}
#blog {
    border-top: 2px dotted #424242;
}
.blog-post {
    border-bottom: 2px dotted #424242;
}
img {
    float: inherit;
    border: 3px solid #424242;
    border-radius: 3px;
    padding: 5px;
    width: 225px;
}
strong {
    color: black;
}
a {
    color: darkred;
}
table {
    border: 2px solid black;
    width: 75%;
    margin: 50px;
}
th {
    border: 2px solid black;
    height: 40px;
    text-align: center;
}
td {
    border: 2px solid black;
    text-align: center;
}