html{
    background: whitesmoke;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif
    margin: 25px;
    padding: 25px
    color: black;
    border-top: 5px solid black;
    background-color: white;
}

h1 {
    font-size: 2em;
    margin: 0;
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 2px dotted #424242;
}

.blog-post {
    border-bottom: 2px dotted #424242;
}

img {
    border: 3px solid #424242;
    border-radius: 3px;
    padding: 5px;
    width: 220px;
}